- title t('history.canceled')

= render layout: 'layouts/settings' do

  - if @orders.empty?
    %h2= t('history.canceled_empty')
  - else
    %h2= t('history.canceled')
    = render 'settings/histories/orders_view'