- title t('cart.title')

%h1.page-header= t('cart.name')

- if cart_items.empty?
  .cart-is-empty= t('cart.empty')
- else
  = render partial: 'carts/items', locals: {items: cart_items, edit: true}

  %hr.top-buffer

  = link_to t('checkout.name'), cart_checkout_path(:address), class: 'btn btb-block btn-success btn-lg'