body.sessions, body.registrations {
  background: #eee;
}

.auth-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.auth-form .checkbox {
  margin-bottom: 10px;
}
.auth-form .checkbox {
  font-weight: bold;
}