- title t('category.title', category: @category)

%h1= @category

.shop-page.clearfix
  .left
    = render partial: 'books/books_list', locals: { books: @books }
  .right
    = render partial: 'categories/categories_list', locals: { categories: @categories }